html{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #F5F6F7;
}

body, ul, li{
    margin: 0px;
    padding: 0px;
}

.container{
    margin: auto;
    width: 90%;
    background-color: white;
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
}

.flex{
    display: flex;
}

/*cabecalho*/
#topo{
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    height: 32px;
}
.texto-branco{
    color: white;
}
.upper{
    text-transform: uppercase;
}
.menu{
    list-style: none;
}
.linha-itens{
    /*altura da linha*/
    line-height: 32px;
    
}
.item-topo{
    padding: 0px 10px 0px 10px;
}
.topo{
    background-color: #B52E2C;
}

/*Logo*/
.logo{
    padding: 40px 0px 40px 0px;
}

.logo img{
    width: 341px;
    height: 50px;
}
/*Menu principal*/
.menu-principal{
    background-color: black;
    color: #f0ff1c;
    font-weight: 600;
    font-size: 14px;
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}
.item-menu{
    line-height: 50px;
    padding: 0 15px;
}
.item-menu:hover{
    color: white;
    cursor: pointer;
}

#search-menu{
    background-color: #D52C1F;
}
#search-menu:hover{
    background-color: #ff2c1c;
}

