html{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #F5F6F7;
}

body, ul, li{
    margin: 0px;
    padding: 0px;
}

.container{
    transition: 0.5s;
    margin: auto;
    width: 90%;
    background-color: white;
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
}

.flex{
    display: flex;
}
.d-none{
    display: none;
}
.d-block{
    display: block;
}

/*cabecalho*/
#topo{
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    height: 32px;
}
.texto-branco{
    color: white;
}
.upper{
    text-transform: uppercase;
}
.menu{
    list-style: none;
}
.linha-itens{
    /*altura da linha*/
    line-height: 32px;
    
}
.item-topo{
    padding: 0px 10px 0px 10px;
}
.topo{
    background-color: #B52E2C;
}

/*Logo*/
.logo{
    padding: 40px 0px 40px 0px;
}
/*Menu principal*/
.menu-principal{
    background-color: black;
    color: #f0ff1c;
    font-weight: 600;
    font-size: 14px;
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    display: flex;
    
}
.item-menu{
    line-height: 50px;
    padding: 0 15px;
}

.menu-principal .menu.flex li:hover{
    color: white;
    cursor: pointer;
    background-color: #B52E2C;
}

/*SUBMENU*/
.menu-principal .item-menu:hover ul{
    color: white;
    cursor: pointer;
    display: block;
}
.menu-principal .item-menu ul{
    background-color: black;
    display: none;
    list-style: none;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    position: absolute;
}
.menu-principal .item-menu ul li{
    width: 200px;
    padding: 0 0 0 5px;
    background-color: black;
    line-height: 35px;
}

/*SEARCH DO MENU*/
#search-menu{
    background-color: #D52C1F;
}
#search-menu:hover{
    background-color: #ff2c1c;
}
#menu-mobile{
    display: none;
}
.esconder-menu{
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0);
}

/*cabecalho responsivo*/
@media (max-width: 1200px){
    #topo{
        display: none;
    }
    .container{
        transition: 0.5s;
        width: 100%;
    }
    .logo{
        padding: 10px;
    }
    .logo img{
        width: 195px;
        height: 35px;
        line-height: 56px;
    }
    .menu-principal{
        display: none;
    }
    .cabecalho-principal{
        height: 56px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #hamburger{
        display: block;
        padding: 0 20px;
        line-height: 56px;
    }
    #hamburger:hover{
        transition: 0.3s;
        cursor: pointer;
        color: #B72F2C;
    }
    /*MENU MOBILE*/
    .mostrar-menu{
        transition: 0.5s;
        background-color: rgba(0, 0, 0, 0.404) !important;
    }
    #menu-mobile{
        width: 100%;
        height: 100%;
        position: absolute;
        display: block;
    }
    #barra-navegacao-mobile{
        transition: 0.5s;
        overflow-y: scroll;
        transform: translate3d(-300px, 0, 0);
        width: 300px;
        background-color: white;
        position: absolute;
        height: 100%;
    }
    .animacao-navegacao-mobile{
        transition: 0.5s;
        transform: translate3d(0, 0, 0) !important; 
    }
    #topo-navegacao-mobile{
        height: 56px;
        line-height: 56px;
        flex-direction: row;
        justify-content: space-between;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.171);
    }
    #search-mobile{
        padding-left: 15px;
    }
    #search-mobile input{
        outline: none;
        border: none;
        height: 32px;
        background-color: #FAFAFA;
        margin-right: 0;
    }
    #search-mobile i{
        height: 32px;
        margin-left: 0px;
        cursor: pointer;
    }
    .barra-menu-mobile{
        font-weight: 600;
        font-size: 13px;
    }
    .barra-menu-mobile ul li:hover{
        color:#ff2c1c;
        cursor: pointer;
    }
    .barra-menu-mobile .item-menu ul{
        list-style: none;
        font-weight: 400;
        padding-left: 5px;
        color: black;
    }
    #fechar-menu{
        padding: 0 20px 0 20px;
        cursor: pointer;
    }
}

/*FIM BARRA DE NAVEGACAO*/

.blog{
    display: flex;
}
.conteudos{
    font-size: 14px;
    font-weight: bold;
    width: 75%;
}
.colunas-2{
    display: flex;
    margin-left: 30px;
}
.assunto .titulo{
    background-color: black;
    color: white;
    width: 230px;
    top: 100px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 15px;
}
.assunto .titulo h2{
    font-size: 17px;
    font-weight: 500;
    padding-left: 5px;
    
}
.post{
    width: 400px;
    height: 150px;
    margin: 5px;
    display: flex;
}
.post .dados{
    padding: 0 10px 0 10px;
    font-weight: 400;
}
.post a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.post .meta-data{
    margin-top: 10px;
    font-size: 12px;
}
.post img{
    width: 100px;
    height: 100px;
}